html {
  background: linear-gradient(rgba(55, 131, 184, 0.70), rgba(55, 131, 184, 0.70)), url("../img/GU1.jpg");
  height: auto;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-bottom: 5vh;
}
  
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .transparent {
    background-color: transparent;
  }
  
  .white {
    color: white;
  }
  
  .yellow {
    color: rgba(245, 196, 0);
  }
  
  .bg-white {
    background-color: rgba(255, 255, 255);
  }
  
  .today-card {
    height: 75vh;
    width: 75vw;
    background-color: rgba(255, 255, 255);
    color: black;
    border-radius: 0px;
    margin: auto;
  }
  
  .today-title-card {
    height: 23vh;
    width: 45vw;
    background-color: rgba(0, 31, 91);
    margin: auto;
  }
  
  .today-title-datenum {
    font-size: 12vh;
  }
  
  .today-title-daymonth {
    font-size: 2.25vh;
  }
  
  .today-ann-card {
    height: 35vh;
    background-color: white;
    border: 0px;
  }
  
  .today-ann {
    height: 30vh;
    background-color: white;
    font-size: 2.1vh;
    border: 0px;
  }
  
  ul {
    font-weight: bold;
  }
  
  ul li p {
    font-size: 1.4vh;
  }
  
  .today-logo-card {
    width: 65vw;
    height: 10vh;
    border: 0px;
    margin: auto;
  }
  
  .week-cards {
    width: 75vw;
    height: 8vh;
    background-color: rgba(200, 219, 234);
    border-width: 3px !important;
    border-color: rgba(0, 31, 91);
    border-radius: 0px;
    border-left: 2rem solid rgba(0, 31, 91) !important;
    margin: auto;
    margin-bottom: 2vh;
  }
  
  .week-cards-title {
    width: 1.5rem;
    color: white;
    padding-top: .1vw;
    background-color: rgba(0, 31, 91);
    margin-right: -1rem;
    margin-top: -1rem;
  }

  .weeks-card-title-day {
    font-size: 1rem;
    margin-left: -3.25rem;
    margin-top: -.5rem;
    transform: rotate(-90deg);
  }
  
  .week-cards-ann {
    width: 45vw;
    height: 2.25vh;
    font-size: 1.4vh;
    border-radius: 0px;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .week-cards-ann-text {
    position: relative;
    top: -1.25rem;
  }
  
  .event-style {
    background-color: solid white;
    color: black;
    border: 0px;
  }
  
  .aca-style {
    background-color: rgba(0, 31, 91);
    color: white;
    border: 0px;
  }
  
  .off-style {
    background-color: rgba(245, 196, 0);
    color: rgba(0, 31, 91);
    border: 0px;
  }
  
  .calendar-card {
    width: 85vw;
    height: 40vh;
    background: linear-gradient(rgba(0, 31, 91), rgb(114, 133, 167));
    border: 0px;
    border-radius: 0px;
  }
  
  .calendar-title {
    font-size: 2vh;
    color: white;
    text-align: left;
  }

  .calendar-day-col {
    width: 9vw;
    height: 5vh;
    margin-right: .5vh;
  }

  .calendar-day-name {
      font-size: 1vh;
      width: 10vw;
      margin-bottom: 4.5vh;
  }
  
  .calendar-day-card {
    width: 10vw;
    height: 5vh;
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    margin-top: -4.5vh;
  }
  
  .calendar-day-card-num {
    color: white;
    font-size: 2vh;
    margin-top: -2vh;
  }
  
  .month-cards-ann {
    width: 1vw;
    height: 1.68vh;
    font-size: 1.26vh;
    border-radius: 0px;
    font-weight: bold;
    margin-bottom: .25rem;
    display: none;
  }
  
  .ann-card {
    width: 75vw;
    background-color: rgba(255, 255, 255);
    border-radius: 0px;
    margin: 2vh;
  }
  
  .ann-title-card {
    color: rgba(32, 57, 108);
  }
  
  .ann {
    font-size: 1.68vh;
  }
  
  .asc {
    border: 0px;
    border-left: 2.8vh solid rgba(166, 171, 171);
  }
  
  .chc {
    border: 0px;
    border-left: 2.8vh solid rgba(133, 172, 204);
  }
  
  .cosa {
    border: 0px;
    border-left: 2.8vh solid rgba(238, 194, 66);
  }
  
  .idea {
    border: 0px;
    border-left: 2.8vh solid rgba(239, 39, 50);
  }
  
  .ims {
    border: 0px;
    border-left: 2.8vh solid rgba(227, 159, 101);
  }
  
  .sen {
    border: 0px;
    border-left: 2.8vh solid rgba(165, 184, 117);
  }
  
  .cust-shadow {
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .scroll {
    max-height: 75px;
    overflow-y: auto;
  }
  
  .scrollbar-today {
    height: 30vh;
    width: 53.5vw;
    overflow-y: scroll;
  }
  
  .scrollbar-week {
    height: 6vh;
    width: 50vw;
    margin-top: -1rem;
    overflow-y: scroll;
  }
  
  .scrollbar-month {
    height: 5vh;
    width: 5.55vw;
    overflow-y: scroll;
  }
  
  .scrollbar-primary::-webkit-scrollbar {
    width: 5px;
    background-color: transparent; 
  }
    
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 31, 91); 
  }
    
  .scrollbar-primary {
    scrollbar-color: rgba(0, 31, 91);
  }