.accordion{
  width: 100% !important;
}

.accordion .accordion-item {
  border-radius: 0px !important;
  border: 0px !important;
  margin: 1rem;
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion .accordion-item .accordion-body {
  max-height: 20vh;
  white-space: wrap;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis !important;
}

.asc {
  border: 0px;
  border-left: 2.8vh solid rgba(166, 171, 171);
}

.chc {
  border: 0px;
  border-left: 2.8vh solid rgba(133, 172, 204);
}

.cosa {
  border: 0px;
  border-left: 2.8vh solid rgba(238, 194, 66);
}

.idea {
  border: 0px;
  border-left: 2.8vh solid rgba(239, 39, 50);
}

.ims {
  border: 0px;
  border-left: 2.8vh solid rgba(227, 159, 101);
}

.sen {
  border: 0px;
  border-left: 2.8vh solid rgba(165, 184, 117);
}

@media (max-width: 992px) {
  .accordion {
    width: 75vw !important;
  }
}